<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>今まで発表したスライド一覧 azu/slide @ GitHub</title>
</head>

<body>
<a href="http://github.com/azu/slide"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                           src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
                                           alt="Fork me on GitHub"/></a>
<h1>スライド一覧</h1>
<div class="slide-list">
{{#each object}}
    <h3>{{@key}}</h3>
    <ul>
    {{#each this}}
    <li>{{link_to}}</li>
    {{/each}}
    </ul>
{{/each}}
</div>

</body>
</html>
